html,body{
    margin:0;
    padding:0;
   background-color: cornsilk;
}


.container{
    width: 800px;
   margin:0 auto;
   background-color: orangered;
   padding-left: 16px;
  padding-right: 16px;


}

.back {
    display: inline-block;
    background-color: #008FF0;
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
  }

  .photos_container: hover .photos__item: first-child{
    margin-left: -800px;
    }

    .photos__item: first-child {
     transition: all 5s linear;
    }



    .photos__item {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 24px;
        opacity: 0.8;
        transition: all 0.25s linear;
      }

.photos__item_image{
    display:block;
   background-color: orange;
   min-height: 120px;
  width:100%;
}


.photos__item_text{
    display:block;
   color:silver;
}

